# Ignore everything
*
# But descend into directories
!*/
# Recursively allow files under subtree
!/core/controllers/art/**
!/controllers/art/**
!/templates/marcy/**
!/user_classes/**
!.gitignore
!README.md
!/widgets/login/**