.blog_tag_list_wrap {
    display:none;
}
.hero_wrap {
    background-size:cover;
    background-position:center;
    height:60vh;
}
.hero_wrap * {
    text-shadow:0 0 0.5em black;
}
.hero_content {
    padding:2rem;
}
img {
    max-width:100%;
}
nav {
    margin-top:2rem;
    margin-bottom:2rem;
}
nav ul {
    width: 100%;
    justify-content: flex-end;
}
nav li.page.home {
    margin-right: auto;
}
nav li {
    transition:all 0.3s ease;
    border-bottom:2px solid transparent;
}
nav li:hover {
    border-bottom:2px solid var(--primary-hover);
}
nav li.current {
    border-bottom:2px solid var(--primary);
}
a.page_id_1 {
    text-indent: -999px;
    background-image: url(/image/3);
    background-size: contain;
    width: 20rem;
    background-position: center;
}
.artgrid_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.artgrid_image {
    display:block;
    object-fit: cover;
    aspect-ratio:1/1;
}
footer {
    margin-top:2rem;
    background-color:var(--background-color);
}
footer p {
    text-align:center;
    font-size:80%;
}