/* pico overrides */
:root * {
    --block-spacing-vertical: calc(var(--spacing)*2); /* no double vertical spacing on block items thanks */
}
/* end pico overrides */

.blog_tag_list_wrap {
    display:none;
}
.hero_wrap {
    background-size:cover;
    background-position:center;
    height:60vh;
}
.hero_wrap * {
    text-shadow:0 0 0.5em black;
}
.hero_content {
    padding:2rem;
}
img {
    max-width:100%;
}
nav {
    margin-top:2rem;
    /* margin-bottom:2rem; */
}
nav ul {
    width: 100%;
    justify-content: flex-end;
}
nav li.page.home {
    margin-right: auto;
}
nav li {
    transition:all 0.3s ease;
    border-bottom:2px solid transparent;
}
nav li:hover {
    border-bottom:2px solid var(--primary-hover);
}
nav li.current {
    border-bottom:2px solid var(--primary);
}
a.page_id_1 {
    text-indent: -999px;
    background-image: url(/image/3);
    background-size: contain;
    width: 20rem;
    background-position: center;
}
.artgrid_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.artgrid_image, .grid_image_only {
    display:block;
    object-fit: cover;
    aspect-ratio:1/1;
    transition:all 0.5s ease-in-out;
    transform:scale(1);
    opacity:1;
}
.artgrid_item {
    position:relative;
}
.artgrid_item.cat_4::before {
    /* sold */
    content:'';
    display:block;
    height:1rem;
    width:1rem;
    top:1rem;
    right:1rem;
    background:#d33;
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(0,0,0,0.5));
    border-radius:50%;
    position:absolute;
    z-index:2;
    pointer-events: none;
}
footer {
    margin-top:2rem;
    background-color:var(--background-color);
}
footer p {
    text-align:center;
    font-size:80%;
}
.artgrid_wrap:hover .artgrid_image {
    filter:grayscale(1);
    transform:scale(0.96);
    opacity:0.5;
}
.artgrid_wrap:hover .artgrid_image:hover {
    filter:grayscale(0);
    transform:scale(1.04);
    opacity:1;
}
.artinfo_wrap {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}
.artinfo_wrap p {
    margin:0;
}
.artinfo_item p {
    font-size:0.8em;
}
.artinfo_item label {
    font-size:0.6em;
    font-weight:900;
}
:is(.artdesc, article) p:last-of-type {
    margin-bottom:0;
}

img.pull-right {
    float:right;
    max-width:50%;
    margin-left:1rem;
    margin-bottom:1rem;
}

section,aside,article {
    clear:both;
}
aside::after, article::after, .single_blog_wrap::after {
    content: "";
    clear: both;
    display:table;
}
ul.taglist {
    margin:0;
    margin-bottom:2rem;
    display:flex;
    gap:0.5rem;
    flex-wrap:wrap;
    padding:0;
}
ul.taglist li {
    list-style:none;
    font-size:75%;
    opacity:0.5;
}
ul.taglist li a, a[role='button'].small {
    padding:0.3em 0.6em;
    font-size:0.8em;
}
.readmore {
    font-size:0.8em;
    margin-top:2rem;
}
section.blog_list_wrap {
    display: flex;
    gap: 1rem;
}
@media (max-width: 768px) {
    section.blog_list_wrap {
        display: block;
    }
    .artgrid_wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}
.socials {
    display:flex;
    justify-content: center;
    gap:2rem;
    margin:2rem;
    align-items: center;
}
.socials li {
    list-style:none;
    padding:0;
    margin:0;
}
a.hasicon:hover {
    text-decoration:none;
}
span.hidden {
    display: inline-block;
    text-indent:-9999px;
    position: absolute;
}
p.art_title {
    margin-top:1em;
    text-align:center;
    font-size:75%;
    font-style:italic;
}
p.art_title::before {
    content:"\201C";
}
p.art_title::after {
    content:"\201D";
}
p.art_size {
    margin-top:-2em;
    text-align:center;
    font-size:75%;
    font-style:italic;
    opacity:0.5;
}
@media (max-width: 992px) {
    nav ul {
        flex-wrap:wrap;
        justify-content: center;
    }
    nav ul li:first-of-type {
        width:100%;
        flex-basis:100%;
        text-align:center;
    }
}
button.close.delete {
    display:none;
}
#messages p {
    font-weight:bold;
}
div.flex {
    display:flex;
}
div.flex.cardwidth {
    flex-wrap:wrap;
    gap:2rem;
}
div.flex.cardwidth p {
    font-size:80%;
}
div.flex.cardwidth p:first-of-type {
    margin-bottom:0;
}
div.flex.cardwidth > * {
    max-width:45%;
}
.container#topnav {
    position: sticky;
    /* top: -1rem; */
    top: 0rem;
    background: var(--background-color);
    z-index: 10;
}
@media (max-width: 380px) {
    /* iphone se bullshit */
    a.page_id_1 {
        max-width:75%;
    }
    :root {
        --font-size:12px !important;
    }
}
h1 {
    background-image: -webkit-linear-gradient(var(--primary), var(--h1-color));
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3;
}